<div class="center jumbotron">
  <h1>BERTA</h1>

  <h2>
    <p>Behaviour-Driven, Evaluation & Remote Test Automation</p>
<!--    This is the home page for the-->
<!--    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>-->
<!--    sample application.-->
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to 'Log Out', logout_path %>
<% end %>

<p id=”notice”><%= notice %></p>


